.features-table{
  border-collapse: collapse;
  width: 320px;
  background: #e5e5e5;

  @media(min-width: 700px){
    background: url("../img/shape_tablet_table.png") no-repeat 0px -20px;
    width: 700px;
    padding-top: 90px;
    display: inline-block;
    font-size: 0;
  }

  @media(min-width: 1200px){
    width: 100%;
    background: url("../img/shape_desktop.png") no-repeat 0px 0px;
    padding-bottom: 95px;
    padding-top: 156px;
  }

  tr:nth-of-type(1) td{
    position: relative;
    font-family: Open Sans Light;
    height: 100px;
    width: 278px;
    display: inline-block;
    background: #283645;
    font-size: 24px;
    line-height: 30px;
    color: white;
    padding-left: 90px;
    padding-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;

    @media(min-width: 700px){
      width: 152px;
      margin-left: 2px;
      padding: 0;
      padding-top: 15px;
      text-align: center;
    }

    &:after, &:before{
      position: absolute;
      content: "";
      display: inline-block;
      background: #283645;
      width: 20px;
      height: 100px;
    }

    &:after{
      right: -22px;
      top: 0;
    }

    &:before{
      left: -22px;
      top: 0;
    }

    span{
      display: block;
      font-family: Open Sans;
      font-size: 18px;
      line-height: 30px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 90px;

      @media(min-width: 700px){
        margin: 0px;
        text-align: center;
      }
    }
  }
  
  tr:nth-of-type(1) img{
    position: absolute;
    left: -3px;
    top: 0px;

    @media(min-width: 700px){
      display: inline-block;
      left: 0px;
      width: 60px;
    }
  }

  tr:nth-of-type(1) td:not(:nth-of-type(3)){
    display: none;
  }
  
  tr:not(:nth-of-type(1))
  {
    display: table;
    border-spacing: 2px;
    position: relative;
    width: 278px;
    margin: 0 auto;
    padding-left: 5px;
    margin-left: 19px;
    display: block;
    height: 60px;
    background: white;
    box-sizing: border-box;
    margin-bottom: 2px;
    margin-left: 20px;
    margin-right: 19px;

    &:after, &:before{
      position: absolute;
      content: "";
      display: inline-block;
      background: white;
      width: 20px;
      height: 60px;
      box-sizing: border-box;
    }

    &:after{
      right: -22px;
      top: 0;
    }

    &:before{
      left: -22px;
      top: 0;
    }
  }

  @media(min-width: 700px){
    tr:nth-of-type(1) td:nth-of-type(2){
      width: 154px;
    }
    
    tr:nth-of-type(1) td:nth-of-type(2){
      margin-left: 197px;
    }

    tr:nth-of-type(1) td:not(:nth-of-type(3)){
      display: inline-block;
    }

    tr:nth-of-type(1) td:nth-of-type(1){
      display: none;
    }

    tr:not(:nth-of-type(1)){
      width: 619px;
      height: 45px;
      margin-left: 40px;
      padding: 0;

      td{
        width: 150px;
        height: 41px;
        display: inline-block;
        border: 2px solid #e7e7e7;
      }

      td:nth-of-type(1){
        width: 138px;
        font-size: 14px;
        line-height: 30px;
        color: #283645;
        text-align: left;
        vertical-align: middle;
        padding-left: 15px;
      }
    }

    tr:nth-of-type(1) td:after, tr:nth-of-type(1) td:before{
      display: none;
    }

    tr:not(:nth-of-type(1)):after, tr:not(:nth-of-type(1)):before{
      display: none;
    }

    tr:not(:nth-of-type(1)) td:not(:nth-of-type(1)){
      border-left: none;
    }

    tr:not(:nth-of-type(1)):not(:nth-of-type(4)) td{
      border-bottom: none;
    }

    tr:not(:nth-of-type(1)) td:last-of-type{
      width: 148px;
    }

    tr:not(:nth-of-type(1)) td:nth-of-type(2){
      width: 151px;
    }

    tr:not(:nth-of-type(1)){
      margin-bottom: 0px;
    }

    tr:nth-of-type(2) td:not(:nth-of-type(1)),
    tr:nth-of-type(3) td:nth-of-type(4){
      background: url("../img/yes.png") no-repeat 63px 10px;
    }

    tr:nth-of-type(3) td:nth-of-type(2),
    tr:nth-of-type(3) td:nth-of-type(3),
    tr:nth-of-type(4) td:not(:nth-of-type(1)){
      background: url("../img/no.png") no-repeat 63px 9px;
    }
  }

  @media(min-width: 1200px){
    margin-bottom: 75px;
    tr:not(:nth-of-type(1)){
      margin-left: 130px;
    }

    tr:nth-of-type(1) td:nth-of-type(2){
      margin-left: 382px;
    }

    tr:nth-of-type(1) td{
      width: 233px;
    }

    tr:nth-of-type(1) td:nth-of-type(2) {
      width: 230px;
    }

    tr:not(:nth-of-type(1)) td:nth-of-type(1){
      text-align: left;
      width: 230px;
      font-size: 18px;
      line-height: 30px;
      color: #283645;
    }

    tr:not(:nth-of-type(1)) td:nth-of-type(2),
    tr:not(:nth-of-type(1)) td:last-of-type,
    tr:not(:nth-of-type(1)) td {
      width: 230px;
    }

    tr:not(:nth-of-type(1)){
      width: 952px;
      height: 57px;
      td{
        height: 53px;
      }
    }

    tr:nth-of-type(2) td:not(:nth-of-type(1)),
    tr:nth-of-type(3) td:nth-of-type(4){
      background: url("../img/yes.png") no-repeat 98px 15px;
    }

    tr:nth-of-type(3) td:nth-of-type(2),
    tr:nth-of-type(3) td:nth-of-type(3),
    tr:nth-of-type(4) td:not(:nth-of-type(1)){
      background: url("../img/no.png") no-repeat 98px 15px;
    }
  }
}